<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/importer.css">
  </head>

  <body>
    <div class="panel">
      <div class="container">
        <div class="current">
          <div class="current-czar">Jim</div><h1 class="current-thing">Things that make you feel young.</h1>
        </div>

        <div class="answers-box">
          <div class="half">
            <div id="noah" class="answer-theirs answer-theirs-submitted">Noah answered.<br><span>Bathing in the blood of virgins.</span></div>
            <div id="joe" class="answer-theirs answer-theirs-submitted">Joe answered.<br><span>Hiding in the clothes racks at department stores.</span></div>
            <div id="david" class="answer-theirs answer-theirs-submitted">David answered.<br><span>When I go outside and see the stars in the sky and I look at them and think, "Gee, there sure are a lot of stars in the sky. Sort of makes you feel insignificant." Then I sigh and sort of just wander around thinking about whether or not I'll be remembered after I'm dead. Usually I figure I won't be, but then again maybe I will. Probably not though...</span></div>
          </div>

          <div class="half">
            <div class="answer-theirs answer-theirs-active">Sarah is typing...</div>
            <div class="answer-theirs answer-theirs-active">Brad is typing...</div>
            <div class="answer-theirs answer-theirs-active">Jake is typing...</div>
            <div class="answer-theirs">Calvin is idle.</div>
            <div class="answer-theirs">Alex is idle.</div>
          </div>

          <!-- <div class="half">
            <div class="answer-theirs">Noah is idle.</div>
            <div class="answer-theirs">Joe is idle.</div>
            <div class="answer-theirs">Sarah is idle.</div>
            <div class="answer-theirs">Brad is idle.</div>
            <div class="answer-theirs">Jake is idle.</div>
            <div class="answer-theirs">Calvin is idle.</div>
            <div class="answer-theirs">Alex is idle.</div>
          </div> -->
        </div>

        <div id="answerMine" class="answer-mine">
          <div class="timer"><div class="timer-bar"></div></div>

          <textarea class="answer-textarea" placeholder="Things that make you feel young."></textarea>
          <input id="submit" class="answer-submit" type="submit" value="Answer">
        </div>
      </div>
    </div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/listeners.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
